name: py2app
on: push
  
jobs:     
  run:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version-file: 'pyproject.toml'
    - run: pip install py2app
    - run: py2applet --make-setup lockmypix-unlocker.py --iconfile assets/icon.ico
    - run: python setup.py py2app
    - uses: actions/upload-artifact@v4
      with:
        name: lockmypics-unlocker    
        path: ${{ github.workspace }}
