name: Py to app
on: push
  
jobs:     
  run:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@master
    - run: pip install pyinstaller  
    - run: pip install pycryptodome
    - run: pip install pyqt6
    - run: pyi-makespec --onefile --windowed --noconsole --icon ./assets/icon.ico --name lockmypix-unlocker lockmypix-unlocker.py
    - run: pyinstaller lockmypix-unlocker.spec
    - uses: actions/upload-artifact@v4
      with:
        name: lockmypics-unlocker    
        path: ${{ github.workspace }}
